{% extends 'core/base.html' %}

{% block titulo %}
  Detalle Clientes
{% endblock %}
{% block contenido-principal %}
<section class="py-5 pt-0">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="card" style="width: 30rem; padding: 1.5em 0.5em 0.5em;
      margin: 1.5em;
      text-align: center;
      border-radius: 2em;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);">
        <p>Formulario enviado</p>

        </div>
      </div>
    </div>
  </div>
  </section>
{% endblock contenido-principal %}