{% extends "core/base.html" %}
{% block titulo %} Index {% endblock titulo %}
    {% block contenido-principal %}
    {% load static %}
    <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-4 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"></div>
                                <!-- Agregar la imagen aquí -->
                                <img src="{% static "core/images/portada_1.png" %}" alt="Descripción de la imagen" class="img-fluid mb-3" />
                                <h2 class="fs-4 fw-bold">Quiénes somos</h2>
                                <p class="mb-0">Conoce un poco más a nuestro equipo detrás de la Tienda de Zapatos,
                                    todos con experiencia y lo más importante: una pasión por crear los mejores 
                                    calzados de Chile.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"></div>
                                <!-- Agregar la imagen aquí -->
                                <a class="navbar-brand" href="{% url "productos" %}"><img src="{% static "core/images/portada_2.png" %}" alt="Descripción de la imagen" class="img-fluid mb-3" />
                               <h2 class="fs-4 fw-bold">Nuestros productos</h2></a>
                                <p class="mb-0">En la Tienda de Zapatos encontrarás los mejores productos, de primera
                                    calidad. Ya sea en cuero, tapillas, cordones, entre otros, sin perder la belleza.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"></div>
                                <!-- Agregar la imagen aquí -->
                                <img src="{% static "core/images/portada_3.png" %}" alt="Descripción de la imagen" class="img-fluid mb-3" />
                                <h2 class="fs-4 fw-bold">Nuestras tiendas</h2>
                                <p class="mb-0">Tenemos un total de 6 tiendas en todo el Gran Santiago, las 
                                    cuales no sólo atienden público, sino también funcionan como puntos de 
                                    retiro a todos los pedidos online de nuestros clientes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <p>
                      Has visitado esta página {{ visitas }}
                      {% if visitas == 1 %} vez. {% else %} veces. {% endif%}
                    </p>
                </div>
            </div>
        </section>
    {% endblock contenido-principal %}




        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum
                suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates,
                nemo repellat fugiat excepturi! Nemo, esse.</p>
            </div>
          </div>
        </div>
