{% extends "core/base.html" %}
{% block titulo %} Productos {% endblock titulo %}
    {% block contenido-principal %}
    {% load static %}
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for producto in productos.values %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ producto.oferta }}</div>
                                <!-- Product image-->
                                <a href="{% url 'producto' producto.id %}"><img class="card-img-top" src="{% static '' %}core/images/{{ producto.imagen1 }}" alt="Imagen de {{ producto.nombre }}"/></a>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ producto.nombre }}</h5>
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            {% for _ in "12345" %}
                                            {% if forloop.counter <= producto.calificacion %}
                                                <div class="bi-star-fill"></div>
                                            {% else %}
                                                <div class="bi-star"></div>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                        <!-- Product price-->
                                        <span class="text-muted text-decoration-line-through">{{ producto.precioanterior }}</span>
                                        {{ producto.precioactual }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="">Agregar al carrito</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endblock contenido-principal %}